.header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   min-height: 55px;
   text-transform: uppercase;
   z-index: 10;
   display: block;
}

.nav-links {
  font-size: 0.5 rem;
}

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}
